<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Learning AngularJS</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>

  <body>
    <div ng-controller="IndexController">
      <input type="search" ng-model="search">

      <ul>
        <li ng-repeat="option in options | orderBy: '-first_name' | filter: search">
          {{option.first_name}} - {{option.age | currency: '£'}}
        </li>
      </ul>
    </div>
  </body>
</html>
